.detailed-car-image{
    height: 200px;
}
.pointer{
    cursor: pointer;
}
.phone-block {
    height: 36px;
}
.modal{
    display: block;
}

/* Animations */

/* *.enter  *-leave */ 
/* *.enter-active  *-leave*/
/* *.enter-to  *-leave*/
.phone-enter-active, .phone-leave-active {
    transition: all .5s;
}

.phone-enter, .phone-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.modal-enter-active, .modal-leave-active {
    transition: all .5s;
}

.modal-enter, .modal-leave-to {
    transform: translateY(-100px);
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    animation: .75s fade forwards; 
}

.fade-leave-active {
    animation: .75s fade reverse; 
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity:  .5;
    }
}