<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="row">
            <div class="col">
                <h1>Cars Application</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find car</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="search" 
                        placeholder="Name, model..."
                        v-model="search"
                        >
                        {{ search }}
                </div>
                <hr>
                <ul class="list-group">
                    <li 
                        v-for="car in filteredCars"
                        class="list-group-item list-group-item-action pointer"
                        @click="selectCar(car.id)"
                        :class="{'active': selectedCarIndex === car.id}"
                        >{{ car.name }} - {{ car.model }}</li>
                </ul>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img :src="car.image" alt="" class="rounded detailed-car-image">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car details</h5>
                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                        <div class="phone-block">
                            <transition name="phone">
                                <p v-show="showPhone">{{ car.phone }}</p>
                            </transition>
                        </div>
                        <button 
                            @click="showPhone = !showPhone" 
                            class="btn btn-outline-success mr-3"
                            v-text="phoneBtnText"
                            ></button>
                        <button class="btn btn-primary" @click="modalVisibility = true">Buy</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3" v-if="logs.length !== 0">
            <div class="col-md-12">
                <ul class="list-group">
                    <li 
                        class="list-group-item list-group-item-secondary"
                        v-for="log in logs"
                        :class="{
                            'list-group-item-secondary': log.type === 'cancel',
                            'list-group-item-success': log.type === 'ok'
                        }"
                        >
                        {{ log.text }} {{ log.date | date }}
                    </li>
                </ul>
            </div>
        </div>
        <transition name="modal">
            <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Do you want to buy this car?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Current car - {{ car.name }}</strong></p>
                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button 
                            type="button" 
                            class="btn btn-primary"
                            @click="newOrder"
                            >Buy
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal"
                            @click="cancelOrder"
                            >Cancel
                        </button>
                        
                    </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>